.members {
    td { padding: 10px; }
    table { margin: auto; }
    .diveCard { .border-radius(10px); border: 2px solid #050004; background-color: rgba(0, 0, 0, 0.2); color: @text-color;
                min-width: 420px; min-height: 185px; float: left; margin: 15px; padding: 10px;
                img { float: left; }
                .cardTitle { text-transform: uppercase; padding-bottom: 10px; color: #0C717A; }
                .cardText { text-transform: capitalize; float: left; padding-left: 20px; color: #085258;
                            li { padding-bottom: 5px; }
                }
    }
}
