@import "reset.css";
@import "mixins";
@import "navigation/navigation";
@import "members/members";
@import "gallery/gallery";

@text-color: #97DEF8;
@main-width: 820px;
@font-family: Trebuchet MS;
@divider: url(../img/dividr.png);
@background: url(../img/mainbg.jpg);

.main { background-image: @background; font-family: @font-family;
  header { .border-both-sides(1px); width: @main-width; margin: auto; color: @text-color;
    .tagline { background-image: url(../img/tagline2.jpg); height: 470px; border-bottom: 1px solid #000000;
      img { left: 30px; position: relative; top: 30px; }
    }
  }

  section { .border-both-sides(1px); width: 800px; margin: auto; padding: 40px 10px; color: @text-color;
    min-height: 100px; background: @divider no-repeat scroll 50% 0 transparent; overflow: hidden;
    .title { font-size: 20pt; padding-bottom: 20px; text-align: center; }
  }

  footer { width: @main-width; margin: auto; border: 1px solid #000000; color: @text-color;
    img { opacity: 0.2; }
  }
}
